---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import { getCollection } from "astro:content";
const pageTitle = "Bloggy Blog";
const allPosts = await getCollection("posts");
---
<BaseLayout pageTitle={pageTitle}>
  <p>This is where I will say silly things teehee ;)</p>
    <ul>
      {allPosts.map((post) => <BlogPost url={`/posts/${post.slug}`} title={post.data.title} />)}
    </ul>
</BaseLayout>
